Q 1 . Explain with an example each when to use a for loop and a while loop.

Answer : 1) For loop is used when the number of iterations is known.
         2) While loop is used when the number of interations is not known.

In [1]:
## For loop example 
input_list = [10,20,30,40,50]

for i in input_list :
    print(i)

10
20
30
40
50

In [2]:
## while loop example

a = 1

while a < 10 :
    print (a)
    a = a + 1

1
2
3
4
5
6
7
8
9

Q2.  Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

Answer :

In [8]:
## Using for loop

x = [1,2,3,4,5,6,7,8,9,10]

add = 0

prod = 1

for i in x :
    
    add = add + i
    
    prod = prod * i
    
print (add) 

print (prod)

55
3628800

In [4]:
## using while loop addition

y = 11

z = 0

addition = 0

while z < y :
    addition = addition + z
    z = z + 1
print (addition)

55

In [5]:
## using while loop product

p = 11

q = 1

product = 1

while q < p :
    product = product * q
    q = q + 1
print(product)

3628800

Q 3 Answer

In [7]:
unit = int(input("enter unit"))

if unit <= 100 :
    bill = unit * 4.5
elif unit > 100 and unit <= 200 :
    bill = 450 + ((unit-100)*6)
elif unit > 200 and unit <= 300 :
    bill = 450 + 600 + ((unit-200)*10)
else :
    bill = 450 + 600 + 1000 + ((unit-300)*20)
    
print ("electricity bill = ",bill)

enter unit 310

electricity bill =  2250

Q 4 Answer

In [1]:
## using for loop 

l1 = list(range(1,101))

l2 = []

for i in l1 :
    a = i ** 3
    if a%4 == 0 or a%5 == 0 :
        l2.append(a)
print(l2)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [2]:
## using while loop
x = 1
l3 = []

while x < 101 :
    b = x ** 3
    if b%4 == 0 or b%5 == 0 :
        l3.append(b)
    x = x + 1
print(l3)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

Q 5 Answer.

In [5]:
string = "I want to become a data scientist"

def vowelcount(a) :
    
    count = 0 
    
    vowel = set("aeiouAEIOU")
    
    for alphabet in a :
        
        if alphabet in vowel :
            
            count = count + 1
            
    print ("The number of vowels = ",count)

In [6]:
vowelcount(string)

The number of vowels =  12